<div class="h-screen text-gray-900 text-sm xl:text-md bg-gray-100">
  <div class="flex flex-row h-full">
    <div class="absolute transition-all duration-500 top-0 w-1/2 md:w-1/3 lg:w-auto lg:static flex flex-col h-full" [ngClass]="sidebar ? '-left-full ' : '-left-0 lg:hidden'">
      <app-sidebar (sidebar)="sidebarToggle()" (logout)="logout()"></app-sidebar>
    </div>
    <div class="flex-1 flex flex-col">
      <app-header (sidebar)="sidebarToggle()"></app-header>
      <div class="flex-1 flex-col flex overflow-x-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-notification></app-notification>
